<!DOCTYPE html>
<html lang="pl">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/adminTopPanel.ejs") %> 

        <div id="name">
            <form id="myForm" name="myForm" enctype="multipart/form-data">
                <legend>Edytuj album</legend>
                <label for="title">Tytuł</label>
                <input type="text" name="title" id="title" required>
                <label for="artist">Artysta/zespół</label>
                <input type="text" name="artist" id="artist" required>
                <label for="genre">Gatunek</label>
                <input type="text" name="genre" id="genre" required>
                <label for="year">Rok wydania</label>
                <input type="number" name="year" id="year" required>
                <label for="cover">Okładka</label>
                <input type="file" accept="image/*" name="cover" id="cover">
                <input type="submit" value="Wyślij" class="submit">
            </form>
        </div>
        

        <script>
            const myForm = document.querySelector("#myForm");
            const title = document.querySelector("#title");
            const artist = document.querySelector("#artist");
            const genre = document.querySelector("#genre");
            const year = document.querySelector("#year");
            const checkbox = document.querySelector("#checkbox");
            const cover = document.querySelector("#cover");

            title.value = "<%= album.title %>";
            artist.value = "<%= album.artist %>";
            genre.value = "<%= album.genre %>";
            year.value = "<%= album.year %>";

            myForm.addEventListener("submit", async (e) => {
                e.preventDefault();

                const formData = new FormData(myForm);
                formData.append("id", "<%= album.id %>");

                for (let [key, value] of formData.entries()) {
                    console.log(key, value);
                }

                try {
                    const res = await fetch("/music/albums/" + "<%= album.id %>", {
                        method: "PUT",
                        body: formData
                    });
                    const data = await res.json();
                    console.log(data);

                    location.assign("/admin/albums");
                }
                catch (err) {
                    console.log(err);
                }
            });

        </script>
    </body>
</html>