<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/adminTopPanel.ejs") %> 

        <div id="main">
            <% if(movies.length > 0) { %>
                <% movies.forEach(movie => { %>
                    <div class="boxes">
                            <div class="box">
                                <a class="item" href="/movies/<%= movie.id %>">
                                    <img src="<%= movie.poster %>" alt="Plakat filmu" width="150px" height="150px">
                                </a>
                            </div>
                            <div class="box">
                                <h2 class="title"><%= movie.title %></h2>
                                <h3><%= movie.director%></h3>
                                <h4>zaakceptowany: 
                                    <% if (movie.accepted) { %>
                                        tak
                                    <% } else { %>
                                        nie
                                    <% } %>
                                </h4>
                            </div>
                            <div class="box" id="edit-delete">
                                <a href="#" data-doc="<%= movie.id %>" class="accept">Akceptuj</a>
                                <a href="movies/<%= movie.id %>">Edytuj</a></li>                                        
                                <a href="#" data-doc="<%= movie.id %>" class="delete">Usuń</a></li>                               
                            </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nie ma filmów</p>
            <% } %>
        </div>

        <script>
            const deleteAnchor = document.querySelector("a.delete");
            const acceptAnchor = document.querySelector("a.accept");

            acceptAnchor.addEventListener("click", (e) => {
                e.preventDefault();
                const endpoint = `/movies/${acceptAnchor.dataset.doc}`;
                console.log(endpoint);

                fetch(endpoint, { 
                    method: "PATCH"
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });

            deleteAnchor.addEventListener("click", (e) => {
                e.preventDefault();
                const endpoint = `/movies/${deleteAnchor.dataset.doc}/`;
                console.log(endpoint);

                fetch(endpoint, {
                    method: "DELETE"
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });
        </script>
    </body>
</html>