<!DOCTYPE html>

<html>

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/topPanel.ejs") %> 
    <%- include("./partials/leftPanel.ejs") %> 
    <%- include("./partials/rightPanel.ejs") %> 

    <div id="main">
        Ta strona nie istnieje.
        <p><a href="/">Powrót na stronę główną</a></p>
    </div>
   
    <%- include("./partials/footer.ejs") %> 
    
</body>

</html>