<!DOCTYPE html>

<html>

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/topPanel.ejs") %> 
    <%- include("./partials/leftPanel.ejs") %> 
    <%- include("./partials/rightPanel.ejs") %> 

    <div id="main">
        <% if(articles.length > 0) { %>
            <% articles.forEach(article => { %>
                <div class="boxes">
                    <a class="article-item" href="/articles/<%= article.id %>">
                        <div class="box">
                            <img src="<%= article.image %>" alt="Zdjęcie artykułu" width="150px" height="150px">
                        </div>
                        <div class="box">
                            <h1 class="title"><%= article.title %></h1>
                        </div>
                        <div class="box"><p class="introduction"><%= article.introduction %></p></div>
                    </a>
                </div>
            <% }) %>
        <% } else { %>
            <p>Nie ma artykułów</p>
        <% } %>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis odio, tempor sed ligula rhoncus, vehicula rhoncus nulla. Ut eu gravida libero. Praesent volutpat semper nisi, in vehicula nulla. Praesent id malesuada erat, sit amet fringilla libero. Nulla congue bibendum arcu ut maximus. Sed dapibus accumsan ante eu consequat. In vel dignissim urna. Donec euismod varius justo, id fringilla ligula vulputate nec. Aenean non ultrices dolor. Maecenas sed vehicula ligula. Nunc tempor libero lacus. Maecenas magna lectus, tristique ac dui at, dapibus feugiat libero. Quisque lobortis nisl sem, eget tincidunt lectus dapibus et. Nullam magna sem, cursus eget lorem in, luctus semper elit. Donec at elementum orci. In bibendum ullamcorper massa vitae cursus.

Donec ornare lobortis tempus. Nullam ullamcorper leo at mi molestie, a tincidunt purus posuere. Sed rutrum laoreet sapien sit amet elementum. Donec mattis, diam in luctus commodo, elit orci porta turpis, eget imperdiet tortor arcu eget quam. Donec quis aliquet justo. Nunc purus mauris, commodo vitae dolor at, tincidunt accumsan purus. Mauris vitae lorem sed ante sollicitudin efficitur. Donec porta, urna ac suscipit mollis, metus purus consequat ligula, nec faucibus quam nisl a elit. Aliquam tincidunt, ex accumsan euismod scelerisque, nisl mi mattis elit, ac rhoncus elit velit eu mi. Fusce pellentesque finibus sodales. Aliquam erat volutpat. Duis dictum, augue in ullamcorper malesuada, sapien urna tempus elit, tincidunt faucibus massa mi sed nunc.

Praesent orci lorem, semper eu tincidunt euismod, laoreet aliquam mauris. S

    </div>

    <%- include("./partials/footer.ejs") %> 
    
    <script>
        
    </script>
    <script src="/scripts/sidePanels.js"></script>

</body>

</html>
