<!DOCTYPE html>

<html>

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/topPanel.ejs") %> 
    <%- include("./partials/leftPanel.ejs") %> 
    <%- include("./partials/rightPanel.ejs") %> 

    <div id="main">
        <% if(articles.length > 0) { %>
            <% articles.forEach(article => { %>
                <a class="article-item" href="/articles/<%= article.id %>">
                    <h3 class="title"><%= article.title %></h3>
                    <p class="introduction"><%= article.introduction %> </p>
                </a>
            <% }) %>
        <% } else { %>
            <p>Nie ma artykułów</p>
        <% } %>
    </div>

    <%- include("./partials/footer.ejs") %> 
    
</body>

</html>
