<!DOCTYPE html>

<html lang="pl">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/topPanel.ejs") %> 
    <%- include("./partials/rightPanel.ejs") %> 
    <div id="main">
        <% if(articles.length > 0) { %>
            <% articles.forEach(article => { %>
                <div class="boxes">
                    <a class="article-item" href="/articles/<%= article.id %>" title="Przejdź do tego artykułu">
                        <div class="box">
                            <img src="<%= article.image %>" alt="Zdjęcie artykułu" width="150" height="150">
                        </div>
                        <div class="box">
                            <h1 class="title"><%= article.title %></h1>
                        </div>
                        <div class="box"><p class="introduction"><%= article.introduction %></p></div>
                    </a>
                </div>
            <% }) %>
        <% } else { %>
            <p>Nie ma artykułów</p>
        <% } %>

        <% if (lastAlbumReview) { %> 
            <div class="home-review">
                <div class="boxes">
                    <a href="/music/albums/<%= lastAlbumReview.Album.id %>" title="Przejdź do tego albumu">
                        <div class="box"><img src="<%= lastAlbumReview.Album.cover %>" alt="Okładka albumu"></div>
                        <div class="box"><h1 class="title"><%= lastAlbumReview.Album.title %></h1></div>
                    </a>
                    <div class="box"><p><%= lastAlbumReview.introduction %></p></div>
                    <div class="box"><p><%= lastAlbumReview.content %></p></div>
                    <div class="box"><h2>Ocena: <%= lastAlbumReview.points %></h2></div>
                </div>
            </div>
        <% } %> 

        <% if (lastMovieReview) { %>
            <div class="home-review">
                <div class="boxes">
                    <a href="/movies/<%= lastMovieReview.Movie.id %>" title="Przejdź do tego filmu">
                        <div class="box"><img src="<%= lastMovieReview.Movie.poster %>" alt="Plakat filmu"></div>
                        <div class="box"><h1 class="title"><%= lastMovieReview.Movie.title %></h1></div>
                    </a>
                    <div class="box"><p><%= lastMovieReview.introduction %></p></div>
                    <div class="box"><p><%= lastMovieReview.content %></p></div>
                    <div class="box"><h2>Ocena: <%= lastMovieReview.points %> </h2></div>
                </div>
            </div>
        <% } %> 
        
    </div>

    <%- include("./partials/footer.ejs") %> 
    
    <script src="/scripts/sidePanels.js"></script>

</body>

</html>
