<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/topPanel.ejs") %>

        <div id="main">
            <% if(reviews.length > 0) { %>
                <% reviews.forEach(review => { %>
                    <div class="boxes">
                        <a class="article-item" href="/music/albums/<%= review.Album.id %>">
                            <div class="box">
                                <img src="<%= review.Album.cover %>" alt="Okładka albumu" width="150px" height="150px">
                            </div>
                            <div class="box">
                                <h3 class="title"><%= review.Album.title %></h3>
                                <h4>Zaakceptowana: 
                                    <% if (review.accepted) { %>
                                        tak
                                    <% } else { %>
                                        nie
                                    <% } %>
                                </h4>
                            </div>
                            <div class="box">                                
                                <h2>Ocena: <%= review.points %></h2>                              
                            </div>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nie ma ocen</p>
            <% } %>    
    </body>
</html>