<!DOCTYPE html>

<html lang="pl">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/topPanel.ejs") %> 

    <div id="main">
        <form enctype="multipart/form-data">
            <legend>Edytuj swój profil</legend>
            <label for="username">Nazwa użytkownika</label>
            <input type="text" name="username" id="username" required>
            <div class="username error"></div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
            <div class="email error"></div>
            <label for="newPassword">Nowe hasło</label>
            <input type="password" name="newPassword" id="newPassword">
            <label for="checkboxImage">Czy chcesz zmienić zdjęcie profilowe?</label>
            <input type="checkbox" name="checkboxImage">
            <label for="image">Zdjęcie profilowe</label>
            <input type="file" accept="image/*" name="image" id="image">
            <button>Edytuj profil</button>
        </form>
    </div>

    <script>
        const form = document.querySelector("form");
        const usernameError = document.querySelector(".username.error");
        const emailError = document.querySelector(".email.error");

        const username = document.querySelector("#username");
        const email = document.querySelector("#email");
        const newPassword = document.querySelector("#newPassword");
        
        const checkboxImage = form.checkboxImage.value;

        if (checkboxImage.checked) {
            image.checked = true;
        }

        username.value = "<%= user.username %>";
        email.value = "<%= user.email %>";

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            formData.append("id", "<%= user.id %>");

            for (let [key, value] of formData.entries()) {
                    console.log(key, value);
                }

            // reset errors
            usernameError.textContent = "";
            emailError.textContent = "";

            try {
                const res = await fetch("/users/edit", {
                    method: "PUT",
                    body: formData
                });
                const data = await res.json();
                console.log(data);

                if (data.errors) {
                    usernameError.textContent = data.errors.username;
                    emailError.textContent = data.errors.email;
                }

                if (data.success) {
                    alert("Profil został zedytowany. Zaloguj się powownie.");
                    location.assign("/logout");
                }
            }
            catch (err) {
                console.log(err)
            }
        });

    </script>

    <%- include("../partials/footer.ejs") %> 

</body>

</html>