<!DOCTYPE html>
<html lang="pl">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/topPanel.ejs") %>

        <div id="main">
            <% if(ratings.length > 0) { %>
                <% ratings.forEach(rating => { %>
                    <div class="boxes">
                        <a class="article-item" href="/movies/<%= rating.Movie.id %>">
                            <div class="box">
                                <img src="<%= rating.Movie.poster %>" alt="Plakat filmu" width="150" height="150">
                            </div>
                            <div class="box">
                                <h3 class="title"><%= rating.Movie.title %></h3>
                                <h4><%= rating.Movie.director %> </h4>
                            </div>
                            <div class="box">                                
                                <h2>Ocena: <%= rating.points %></h2>                              
                            </div>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nie ma ocen</p>
            <% } %>    
    </body>
</html>