<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/topPanel.ejs") %> >

        <div id="main">
            <div class="boxes">
                <% if(ratings.length > 0) { %>
                    <% ratings.forEach(rating => { %>
                        <div class="boxes">
                            <a class="article-item" href="/articles/<%= article.id %>">
                                <div class="box">
                                    <img src="<%= rating.Album.cover %>" alt="Zdjęcie artykułu" width="150px" height="150px">
                                </div>
                                <div class="box">
                                    <h3 class="title"><%= article.title %></h3>
                                    <p class="introduction"><%= article.introduction %> </p>
                                </div>
                                <div class="box">                                
                                    <a href="articles/<%= article.id %>">Edytuj</a></li>
                                    <a href="#" data-doc="<%= article.id %>" class="delete">Usuń</a></li>                               
                                </div>
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>Nie ma ocen</p>
                <% } %>    
                    jsbdkfb
        </div>
    </body>
</html>