<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/editorTopPanel.ejs") %> 

        <a href="/editor">Dodaj nowy artykuł</a>

        <div id="main">
            <% if(articles.length > 0) { %>
                <% articles.forEach(article => { %>
                    <div class="article-boxes">
                        <a class="article-item" href="/articles/<%= article.id %>">
                            <div class="article-box">
                                <img src="<%= article.image %>" alt="Zdjęcie artykułu" width="150px" height="150px">
                            </div>
                            <div class="article-box">
                                <h3 class="title"><%= article.title %></h3>
                                <p class="introduction"><%= article.introduction %> </p>
                            </div>
                            <div class="article-box" id="edit-delete">                                
                                <a href="articles/<%= article.id %>">Edytuj</a></li>
                                <a href="#" data-doc="<%= article.id %>" class="delete">Usuń</a></li>                               
                            </div>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nie ma artykułów</p>
            <% } %>
        </div>

        <script>
            const deleteAnchor = document.querySelector("a.delete");

            deleteAnchor.addEventListener("click", (e) => {
                const endpoint = `/articles/${deleteAnchor.dataset.doc}`;

                console.log(endpoint);

                fetch(endpoint, {
                    method: "DELETE"
                })
                .then((response) => response.text())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });
        </script>
    </body>
</html>